{% extends sonata_block.templates.block_base %}

{% block block %}
    <h3>{{ settings.title }}</h3>

    <div class="sonata-feeds-container">
        {% for feed in feeds %}
            <div>
                <strong><a href="{{ feed.link}}" rel="nofollow" title="{{ feed.title }}">{{ feed.title }}</a></strong>
                <div>{{ feed.description|raw }}</div>
            </div>
            {% elsefor %}
            No feeds available.
        {% endfor %}
    </div>
{% endblock %}